# 拡張子なしのファイル除外
*
!*/
!*.*
# ためしに上をコメントアウトすると103になります

# せっかくなので git 活用していきましょう
# git はファイルの変更履歴を残せるものなんですけど、そもそもgitで履歴を残さなくてもいいもの(無視してもいいもの==ignore)を指定するのが.gitignoreファイルです
# いま、cをコンパイルした実行ファイルは履歴にのこさなくて良いので、拡張子なしのファイルをignoreする設定を上に書きました
# 左側の(47)ってなってるアイコンを押してみてください
# (*o*)おおー　うん