# 拡張子なしのファイル除外
*
!*/
!*.*
# ためしに上をコメントアウトすると103になります

# せっかくなので git 活用していきましょう
# git はファイルの変更履歴を残せるものなんですけど、そもそもgitで履歴を残さなくてもいいもの(無視してもいいもの==ignore)を指定するのが.gitignoreファイルです
# いま、cをコンパイルした実行ファイルは履歴にのこさなくて良いので、拡張子なしのファイルをignoreする設定を上に書きました
# 左側の(47)ってなってるアイコンを押してみてください
# (*o*)おおー　うん
# で、git ではコミットっていう単位で履歴を残しておくんですけど、
# 紙のコピーをとる、みたいなイメージでいいと思います。
# それで、どのファイルのコピーをとるのか選択できるようになってます。
# 左ブロックののChanges の右にある「+」を押してみてください
# いま、左に表示されているものの全部がコピーをとる対象になりました。
# Message に何か入力して、その上の方にある✅を押してみてください。
# これで、Messageの内容をメモにしてコピーが取れます
#　メッセージって　どこ？
# できましたね
# discordに写真送った
# したの方に↑1とかある？←あるね
# それ押してみて
# https://github.com/mizuki0823/study にアップロードされるはず
# passwordを求められたらgithubのやつを入力して〜！
# 確かChromeに保存してたっけか ←多分しとった。てか読み込みめっちゃかかってるそしてお別れの時間がちぁ
#あ、そうなのね。あと何か他にあったっけ ←えーっと、一昨日のやつかな
#あーそうでした
# どれだっけ、ファイル
# もう終わる感じ?　←そうっすな。やっぱ１時間でなんとかしようとしてはいけない（戒）３９
# また適時呼んでください()